.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px auto;
  height: 100px auto;
  .dropdown-label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  .dropdown-select {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff; /* Focus state */
      outline: none; /* Remove default outline */
    }
  }
}