.blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;   


    .blog-container-element{
        width: 100%;
        height: 100%;
        display: flex;
        
        flex-shrink: 0;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
    }

}